*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
html{
    font:100px '微软雅黑' ;
}
body{
    font-size:0.15rem;
}
#box #nav{
    width: 100%;
    height: 195px;
    float: left;
}
#box #nav .n1{
    width: 100%;
    height: 20px;
    background: #F6F6F6;

}
#box #nav .n1 a{
    font-size:0.15rem;
    text-align: center;
    color: #666;
}
#box #nav .n1 a:hover{
    text-align: center;
    color: #2A6496;
}
#box #nav .n1 a:nth-child(1){
    margin-left: 900px;
    margin-right: 40px;
}
#box #nav .n1 .emall:before{
     content: "\2709";

 }
#box #nav .n1 a .emall:hover{
    color:#2A6496;

}
#box #nav .n1 a .tell:before{
    content: "\e145";
}
#box #nav .n1 a .tell:hover{
    color:#2A6496;
}
#box #nav .n2{
    width: 100%;
    height: 125px;

}
#box #nav .n2 a img{
    margin: 30px 30px 30px 100px ;
}
#box #nav .n3{
    width: 100%;
    height: 50px;
    background: #F6F6F6;

}
#box #nav .n3 ul{
    width: 82%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}
#box #nav .n3 ul li{
    width: 134px;
    position: relative;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    z-index: 22;
}
#box #nav .n3 ul li dl dd{
    width: 135px;
    height: 40px;
}
#box #nav .n3 ul li dl dd:hover{
    background: #005197;
}
#box #nav .n3 ul li dl{
    position: absolute;
    width: 135px;
    top: 50.1px;
    border: 1px solid #F6F6F6;
    background: #FFFFFF;
}
#box #nav .n3 ul li a{
    font-size: 0.16rem;
    width: 130px;
    height: 50px;
    color: #777777;
}
#box #nav .n3 ul li:hover{
    background: #005197;
    color: #FFFFFF;
}
#box #nav .n3 ul li a:hover{
    color: #FFFFFF;
}
#box #nav .n3 ul li .hide{
    display: none;
}
/*轮播*/
/*轮播图开始*/
/*#box #section .lunbotu ul li img{
    width:100%;
}
#box #section .lunbotu ul li{
    float: left;
    position: absolute;
}
#box #section .lunbotu{
    width:100%;
    height: 450px;
    background: #F6F6F6;
    overflow: hidden;
}
#box #section .lunbotu ul{
    position: relative;
}*/
.banner{
    width: 100%;
    /*height: 560px;*/
    /*background: black;*/
    /*子绝父相*/
    position: relative;
    /*超出部分全部隐藏，解决横向滚动条*/
    overflow: hidden;
}
.banner ul{
    position: absolute;
}
.banner ul li{
    /*这个100%是相对于父盒子的（会把父盒子的宽度继承过来,如父盒子300%,这这里的100%就会相当于300%）*/
    width: 100%;
    height: 185px;
    float: left;
    background:  no-repeat center center;
}
/*.banner ul li:nth-child(1){*/
/*background: url('./1.jpg') no-repeat center center;*/
/*}*/
/*.banner ul li:nth-child(2){*/
/*background: url('./2.jpg') no-repeat center center;*/
/*}*/
/*.banner ul li:nth-child(3){*/
/*background: url('./3.jpg') no-repeat center center;*/
/*}*/
.banner ol{
    /*width: 60px;*/
    height: 20px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left:50%;
    /*margin-left: -40px;*/
    bottom: 30px;
    padding: 0 10px;
    border-radius: 10px;
}
.banner ol li{
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px 5px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
}
.banner ol .current{
    background: rgba(255,255,255,1);
}
.banner i{
    width: 58px;
    height: 120px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
.banner .left{
    left: 60px;
    background: url('../images/left_right.png') no-repeat 0 0px;
}
.banner .right{
    right: 60px;
    background: url('../images/left_right.png') no-repeat 0px -120px;
}
.banner .left:hover , .banner .right:hover{
    background-color: rgba(0, 0, 0, 0.31);
}
/*轮播图结束*/
/*轮播*/
/*导航栏结束*/
/*文本栏开始*/
/*分割线开始*/
#box #section .tp{
    width:100%;
    height: 180px;
    float: left;
    text-align: center;
    margin-bottom: 50px ;
}
#box #section .tp img{
    width:1170px;
    height: 180px;
}


#box #section .hr{
    width:100%;
    float: left;
    height: 3px;
    background: blue;
}
/*轮播图开始*/
#box #section .wz{
    width:100%;
    height: 2200px;
    float: left;
    margin-top: 50px ;
}
#box #section .wz .wz-z{
    width: 260px;
    height: 540px;
    float: left;
    margin-left: 90px;
}
#box #section .wz .wz-z li{
    width: 260px;
    height: 63px;
    background: blue;
    text-align: center;
    line-height: 63px;
}
#box #section .wz .wz-z li>a{
    color: #FFFFFF;
    font-size: 0.2rem;
}
#box #section .wz .wz-z li>dl dd {
    margin-top: -2px;
}
#box #section .wz .wz-z li>dl dd a{
    color: #545353;
    font-size: 0.16rem;
}
#box #section .wz .wz-z li>dl dd a:hover{
    color: #0e75bf;

}
#box #section .wz .wz-z li dl dd{
    width: 258px;
    height: 43px;
    background:#F6F6F6;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 43px;
}
#box #section .wz .wz-z li dl dd:hover{
    background:#ddd;
}
/*文字左结束*/
/*文字右开始*/
#box #section .wz .wz-y{
    width: 877px;
    height: 1176px;
    float: left;
    margin-left: 28px;
}
#box #section .wz .wz-y .gsxe{
    font-size: 0.2rem;
    color: #666666;
    margin-left: 15px;
}
/*文字1开始*/
#box #section .wz .wz-y  .wz-y1{
    width:100%;
    height: 60px;
    background: #f1f1f1;
}
#box #section .wz .wz-y  .wz-y1 .color{
    width:5px;
    height: 60px;
    float: left;
    background:blue;
}
#box #section .wz .wz-y  .wz-y1  .p1{
    color: #000000;
    font-size: 0.25rem;
    float: left;
    margin: 0px 20px 0px 20px ;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
#box #section .wz .wz-y  .wz-y1  .p2{
    color: #000000;
    font-size: 0.16rem;
    float: left;
    text-align: center;
    line-height: 60px;
}
/*新闻2*/
#box #section .wz .wz-y  .wz-y2 img{
    width:100%;
    height: 380px;
    margin: 10px 0px 10px 0px ;
}
/*新闻3*/
#box #section .wz .wz-y  .wz-y3{
    width:100%;
    height: 160px;
    float: left;
    margin: 10px 0px 10px 0px ;
}
#box #section .wz .wz-y  .wz-y3  .color1, .color2, .color3, .color4, .color5, .color6{
    width:100px;
    text-align: center;
    height: 110px;
    float: left;
    margin: 20px;
}
#box #section .wz .wz-y  .wz-y3  .p1{
    color: #005197;
}
#box #section .wz .wz-y  .wz-y3  .p2{
    color: #666;
    margin-top: 10px ;
}
/*新闻4*/
#box #section .wz .wz-y .wz-y4 {
    float: left;
    margin: 10px 0px 10px 0px ;
}#box #section .wz .wz-y .wz-y4 p{
    color: #666;
    text-indent: 0.3rem;
    font-size: 0.16rem;
}
/*新闻5*/
#box #section .wz .wz-y .wz-y5 img{
    width:28%;
    margin: 0px 10px 0px 10px ;
    height: 160px;
}
#box #section .wz .wz-y .wz-y5 {
     float: left;
     margin: 30px 0px 10px 0px ;
}
#box #section .wz .wz-y .wz-y5 p{
    color: #666;
    margin-top: 20px;
    text-indent: 0.3rem;
    font-size: 0.16rem;
}
/*新闻6*/
#box #section .wz .wz-y .wz-y6 {
    float: left;
    width:100%;
    height: 240px;
    margin: 30px 0px 10px 0px ;
    background: #F5F5F5;
}
#box #section .wz .wz-y .wz-y6 .left img {
     float: left;
     width:45%;
     height: 240px;

 }
#box #section .wz .wz-y .wz-y6 .right p {
    float: left;
    width:45%;
    height: 240px;
    color: #666666;
    line-height: 25px;
    margin-top: 50px ;
    margin-left: 20px ;
    text-indent: 0.3rem;
}
/*新闻7*/
#box #section .wz .wz-y .wz-y7 {
    float: left;
    width:100%;
    height: 400px;
    margin: 30px 0px 10px 0px ;
}#box #section .wz .wz-y .wz-y7 p{
    color: #005197;
    font-size: 0.2rem;
}
#box #section .wz .wz-y .wz-y7 .wz-y7-1 img{
    float: left;
    width:30%;
    height: 182px;
    margin: 10px ;

}
/*新闻8*/
#box #section .wz .wz-y .fengye{
    width: 100px;
    height: 40px;
    border:1px solid #F1F1F1;
    float: left;
    border-radius: 8px;
    margin: 250px 200px 20px 300px;
}

#box #section .wz .wz-y .fengye{
    width: 235px;
    height: 35px;
    float: left;
}
#box #section .wz .wz-y .fengye ul li{
    float: left;
    width: 32.7px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    display: block;
}#box #section .wz .wz-y .fengye ul li a{
    color: #666666;
}
#box #section .wz .wz-y .fengye ul li:hover{
    background: #f3f3f3;
}
#box #section .wz .wz-y .fengye ul li:nth-child(1){
    border-right: 1px solid #F1F1F1;

}#box #section .wz .wz-y .fengye ul li:nth-child(2){
     border-right: 1px solid #F1F1F1;
     background: blue;
 }#box #section .wz .wz-y .fengye ul li:nth-child(2) a{
     color: #FFFFFF;
 }#box #section .wz .wz-y .fengye ul li:nth-child(3){
     border-right: 1px solid #F1F1F1;
 }#box #section .wz .wz-y .fengye ul li:nth-child(4){
     border-right: 1px solid #F1F1F1;
 }#box #section .wz .wz-y .fengye ul li:nth-child(5){
     border-right: 1px solid #F1F1F1;
 }#box #section .wz .wz-y .fengye ul li:nth-child(6){
     border-right: 1px solid #F1F1F1;
 }
/*新闻9*/




/*页尾开始*/
#box #footer {
    width: 100%;
    height: 335px;
    float: left;
}
#box #footer .yw1{
    width: 100%;
    height: 295px;
    float: left;
    background: #3A3A3A;
}
#box #footer .yw1 .left{
    width: 920px;
    height: 263px;
    float: left;
}
#box #footer .yw1 .left ul li{
    float: left;
    width: 185px;
    color: #FFFFFF;
    height: 25px;
    text-align: center;
    margin-top: 30px;
}#box #footer .yw1 .left ul {
     margin-left: 50px;
 }
#box #footer .yw1 .left ul li a{
    color: #FFFFFF;
}
#box #footer .yw1 .left ul li dl dd{
    float: left;
    width: 185px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
#box #footer .yw1 .left ul li dl dd a{
    color: #666666;
}
#box #footer .yw1 .left ul li dl dd a:hover{
    color: #FFFFFF;
}
#box #footer .yw1 .right{
    width: 411px;
    height: 292px;
    float: left;
    background: #3A3A3A;
}
#box #footer .yw1 .right .right1{
    width: 220px;
    height: 220px;
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
}
#box #footer .yw1 .right .right1 img{
    margin: 10px;
}



/*页尾1结束*/
/*页尾2开始*/
#box #footer .yw2{
    width: 100%;
    height: 40px;
    float: left;
    background: #1A1A1A;
}
#box #footer .yw2 p{
    text-align: center;
    line-height: 40px;
    margin-left: 800px;
    color: #8D8D8D;
}

/*页尾2开结束*/
/*页尾结束*/